<!-- x -->
<div *ngIf="icon == 'x'">
    <svg width="15" height="16" fill="none" viewBox="0 0 15 16">
        <g class="x">
          <path [attr.stroke]="colorPrimary" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M11.25 4.25l-7.5 7.5" class="Vector"/>
          <path [attr.stroke]="colorPrimary" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3.75 4.25l7.5 7.5" class="Vector_2"/>
        </g>
    </svg>      
</div>
<!-- arrow-right -->
<div *ngIf="icon == 'arrow-right'">
  <svg width="15" height="16" fill="none" viewBox="0 0 15 16">
    <g class="arrow-left">
      <path [attr.stroke]="colorPrimary" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3.125 8h8.75" class="Vector"/>
      <path [attr.stroke]="colorPrimary" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M7.5 12.375L11.875 8 7.5 3.625" class="Vector_2"/>
    </g>
  </svg>
</div>
<!-- burger -->
<div *ngIf="icon == 'burger'">
  <svg width="24" height="24" fill="none" viewBox="0 0 24 24">
    <g class="burger">
      <rect [attr.fill]="colorPrimary" width="20" height="2" x="2" y="5" class="Rectangle 2" rx="1"/>
      <rect [attr.fill]="colorPrimary" width="20" height="2" x="2" y="11" class="Rectangle 3" rx="1"/>
      <rect [attr.fill]="colorPrimary" width="20" height="2" x="2" y="17" class="Rectangle 4" rx="1"/>
    </g>
  </svg>  
</div>
<!-- exit -->
<div *ngIf="icon == 'exit'">
  <svg width="24" height="24" fill="none" viewBox="0 0 24 24">
    <g class="x">
      <path [attr.stroke]="colorPrimary" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M18 6L6 18" class="Vector"/>
      <path [attr.stroke]="colorPrimary" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 6l12 12" class="Vector_2"/>
    </g>
  </svg>
</div>
<!-- dashboard -->
<div *ngIf="icon == 'dashboard'">
  <svg width="25" height="24" fill="none" viewBox="0 0 25 24">
    <g class="Dashboard">
      <g class="Category">
        <path [attr.stroke]="colorPrimary" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M3.035 6.5c0-2.625.028-3.5 3.5-3.5s3.5.875 3.5 3.5.01 3.5-3.5 3.5c-3.511 0-3.5-.875-3.5-3.5z" class="Stroke 1" clip-rule="evenodd"/>
        <path [attr.stroke]="colorSecondary" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M14.035 6.5c0-2.625.028-3.5 3.5-3.5 3.471 0 3.5.875 3.5 3.5s.01 3.5-3.5 3.5c-3.511 0-3.5-.875-3.5-3.5z" class="Stroke 3" clip-rule="evenodd"/>
        <path [attr.stroke]="colorPrimary" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M3.035 17.5c0-2.625.028-3.5 3.5-3.5s3.5.875 3.5 3.5.01 3.5-3.5 3.5c-3.511 0-3.5-.875-3.5-3.5z" class="Stroke 5" clip-rule="evenodd"/>
        <path [attr.stroke]="colorPrimary" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M14.035 17.5c0-2.625.028-3.5 3.5-3.5 3.471 0 3.5.875 3.5 3.5s.01 3.5-3.5 3.5c-3.511 0-3.5-.875-3.5-3.5z" class="Stroke 7" clip-rule="evenodd"/>
      </g>
    </g>
  </svg>  
</div>
<!-- settings -->
<div *ngIf="icon == 'settings'">
  <svg width="25" height="24" fill="none" viewBox="0 0 25 24">
    <g class="Settings">
      <g class="Setting">
        <path [attr.stroke]="colorPrimary" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M20.841 7.624l-.622-1.08a1.913 1.913 0 00-2.609-.705v0a1.904 1.904 0 01-2.609-.678 1.832 1.832 0 01-.256-.915v0a1.913 1.913 0 00-1.913-1.968h-1.254a1.904 1.904 0 00-1.904 1.913v0a1.913 1.913 0 01-1.913 1.886 1.83 1.83 0 01-.915-.257v0a1.913 1.913 0 00-2.609.705L3.57 7.624a1.913 1.913 0 00.696 2.608v0a1.913 1.913 0 010 3.314v0a1.904 1.904 0 00-.696 2.6v0l.631 1.088a1.913 1.913 0 002.61.742v0a1.895 1.895 0 012.599.696c.164.277.253.593.256.915v0c0 1.056.857 1.913 1.913 1.913h1.254c1.053 0 1.908-.85 1.913-1.904v0a1.904 1.904 0 011.913-1.913c.322.009.636.097.915.256v0a1.913 1.913 0 002.61-.695v0l.658-1.099a1.904 1.904 0 00-.695-2.608v0a1.904 1.904 0 01-.696-2.61c.166-.289.406-.529.696-.695v0a1.913 1.913 0 00.695-2.6v0-.008z" class="Path_33946" clip-rule="evenodd"/>
        <circle [attr.stroke]="colorSecondary" cx="12.21" cy="11.889" r="2.636" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" class="Ellipse_737"/>
      </g>
    </g>
  </svg>
</div>
<!-- workers -->
<div *ngIf="icon == 'workers'">
  <svg width="25" height="24" fill="none" viewBox="0 0 25 24">
    <g class="Workers">
      <g class="3 User">
        <path [attr.stroke]="colorSecondary" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M17.922 10.897a2.876 2.876 0 002.472-2.841 2.875 2.875 0 00-2.406-2.836" class="Stroke 1"/>
        <path [attr.stroke]="colorPrimary" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M19.763 14.25c1.351.202 2.294.675 2.294 1.65 0 .671-.444 1.107-1.162 1.381" class="Stroke 3"/>
        <path [attr.stroke]="colorPrimary" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M11.921 14.664c-3.214 0-5.959.487-5.959 2.432 0 1.944 2.728 2.445 5.96 2.445 3.213 0 5.957-.482 5.957-2.428s-2.727-2.45-5.958-2.45z" class="Stroke 5" clip-rule="evenodd"/>
        <path [attr.stroke]="colorSecondary" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M11.921 11.888a3.819 3.819 0 10-3.819-3.82 3.804 3.804 0 003.791 3.82h.028z" class="Stroke 7" clip-rule="evenodd"/>
        <path [attr.stroke]="colorSecondary" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M5.92 10.897a2.875 2.875 0 01-2.473-2.841A2.875 2.875 0 015.853 5.22" class="Stroke 9"/>
        <path [attr.stroke]="colorPrimary" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M4.079 14.25c-1.351.202-2.294.675-2.294 1.65 0 .671.444 1.107 1.162 1.381" class="Stroke 11"/>
      </g>
    </g>
  </svg>  
</div>
<!-- storage -->
<div *ngIf="icon == 'storage'">
  <svg width="25" height="24" fill="none" viewBox="0 0 25 24">
    <g class="Compas">
      <g class="Discovery">
        <path [attr.stroke]="colorSecondary" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M8.305 14.952l1.592-5.09 5.09-1.592-1.593 5.09-5.09 1.592z" class="Path_33947" clip-rule="evenodd"/>
        <circle [attr.stroke]="colorPrimary" cx="11.646" cy="11.611" r="9.611" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" class="Ellipse_738"/>
      </g>
    </g>
  </svg>  
</div>
<!-- products -->
<div *ngIf="icon == 'products'">
  <svg width="25" height="24" fill="none" viewBox="0 0 25 24">
    <g class="Cart">
      <g class="Buy">
        <path [attr.stroke]="colorSecondary" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M7.457 19.82a.766.766 0 010 1.53.764.764 0 110-1.53z" class="Stroke 1" clip-rule="evenodd"/>
        <path [attr.stroke]="colorSecondary" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M18.71 19.82a.766.766 0 11-.002 1.532.766.766 0 01.001-1.532z" class="Stroke 3" clip-rule="evenodd"/>
        <path [attr.stroke]="colorPrimary" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M2.784 3.25l2.08.36.963 11.473a1.802 1.802 0 001.797 1.653h10.913c.896 0 1.655-.658 1.785-1.546l.948-6.558a1.34 1.34 0 00-1.326-1.533H5.197" class="Stroke 5"/>
        <path [attr.stroke]="colorSecondary" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M14.16 10.795h2.773" class="Stroke 7"/>
      </g>
    </g>
  </svg>
</div>
<!-- actions -->
<div *ngIf="icon == 'actions'">
  <svg width="25" height="24" fill="none" viewBox="0 0 25 24">
    <g class="Actions">
      <g class="More Square">
        <path [attr.stroke]="colorPrimary" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M16.37 2.75H7.7c-3.02 0-4.915 2.14-4.915 5.166v8.168c0 3.027 1.884 5.166 4.915 5.166h8.668c3.031 0 4.917-2.139 4.917-5.166V7.916c0-3.027-1.886-5.166-4.916-5.166z" class="Stroke 1" clip-rule="evenodd"/>
        <path [attr.fill]="colorSecondary" d="M7.555 13.197a1.199 1.199 0 010-2.395 1.199 1.199 0 010 2.395z" class="Fill 3"/>
        <path [attr.fill]="colorSecondary" d="M12.035 13.197a1.199 1.199 0 010-2.395 1.199 1.199 0 010 2.395z" class="Fill 5"/>
        <path [attr.fill]="colorSecondary" d="M16.514 13.197a1.199 1.199 0 010-2.395 1.199 1.199 0 010 2.395z" class="Fill 7"/>
      </g>
    </g>
  </svg>
</div>
<!-- logout -->
<div *ngIf="icon == 'logout'">
  <svg width="25" height="24" fill="none" viewBox="0 0 25 24">
    <g class="logout">
      <g class="Logout">
        <path [attr.stroke]="colorSecondary" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M15.05 7.39v-.934a3.685 3.685 0 00-3.684-3.685H6.49a3.685 3.685 0 00-3.684 3.685v11.13a3.685 3.685 0 003.684 3.686h4.885a3.675 3.675 0 003.675-3.674v-.944" class="Stroke 1"/>
        <path [attr.stroke]="colorPrimary" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M21.844 12.021H9.804" class="Stroke 3"/>
        <path [attr.stroke]="colorPrimary" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M18.916 9.106l2.928 2.915-2.928 2.916" class="Stroke 5"/>
      </g>
    </g>
  </svg>
</div>