@use '../../../../assets/styles/' as *;
.status {
    background: $color-dark;
    color: white;
    font-size: .8rem;
    .content {
        max-width: $width-big;
        margin: auto;
        padding: .5rem 1rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}