<div class="max-w-screen-lg m-auto">
    <!-- Stats -->
    <div class="mb-8 grid grid-cols-1 gap-8 sm:grid-cols-2 lg:grid-cols-6">
        <div class="p-4 rounded-xl bg-wms-400 border border-wms-300 flex-shrink-0 flex space-x-4 lg:col-span-2">
            <div class="flex flex-col justify-center items-center space-y-2 pr-4 border-r border-wms-300">
                <h1 class="text-6xl text-white font-semibold">{{ workers?.length }}</h1>
                <p class="text-wms-100">Members</p>
            </div>
            <div class="flex flex-col space-y-2 justify-center w-full">
                <div class="bg-red-400 rounded-lg px-2 py-1 uppercase text-black text-xs font-semibold">{{ ownersCount }} owner</div>
                <div class="bg-green-400 rounded-lg px-2 py-1 uppercase text-black text-xs font-semibold">{{ managersCount }} managers</div>
                <div class="bg-white rounded-lg px-2 py-1 uppercase text-black text-xs font-semibold">{{ workersCount }} workers</div>
            </div>
        </div>
        <div class="p-4 rounded-xl bg-yellow-400 border border-wms-300 flex-shrink-0 flex flex-col justify-center items-center space-y-2">
            <h1 class="text-6xl text-black font-semibold">{{ candidates?.length }}</h1>
            <p class="text-black">Candidates</p>
        </div>
        <div class="p-4 rounded-xl bg-wms-400 border border-wms-300 flex-shrink-0 flex space-x-4 md:col-span-2 lg:col-span-3">
            <div class="flex flex-col justify-center items-center space-y-2 pr-4 border-r border-wms-300">
                <h1 class="text-6xl text-white font-semibold">{{ user?.warehouseId }}</h1>
                <p class="text-wms-100 whitespace-nowrap">Warehouse ID</p>
            </div>
            <div class="flex flex-col space-y-2 max-w-xs justify-center">
                <h1 class="text-xl text-white font-semibold">Invite users</h1>
                <p class="text-wms-100 text-sm mt-4 mb-6">You can invite users to your Warehouse by sharing your Warehouse ID with them.</p>
            </div>
        </div>
    </div>
    <!-- Tables -->
    <div class="flex flex-col space-y-2 mb-8">
        <h1 class="text-2xl font-semibold">Workers</h1>
        <p class="text-wms-100">Here you can manage workers of your Warehouse.</p>
    </div>
    <div class="max-w-screen-lg overflow-x-auto">
        <table class="w-full whitespace-nowrap">
            <!-- HEAD -->
            <tr class="text-left text-wms-200 text-xs uppercase">
                <th class="bg-wms-400 px-4 py-2 font-medium border-l border-t border-b border-wms-300">
                    #
                </th>
                <th class="bg-wms-400 px-4 py-2 font-medium border-t border-b border-wms-300">
                    Name
                </th>
                <th class="bg-wms-400 px-4 py-2 font-medium border-t border-b border-wms-300">
                    Email
                </th>
                <th class="bg-wms-400 px-4 py-2 font-medium border-t border-b border-wms-300">
                    Role
                </th>
                <th class="w-full bg-wms-400 px-4 py-2 font-medium border-t border-b border-wms-300"></th>
                <th class="bg-wms-400 px-4 py-2 font-medium border-r border-t border-b border-wms-300 text-right">
                    •••
                </th>
            </tr>
            <!-- WORKERS -->
            <tr *ngFor="let worker of workers; let i = index" class="border-r border-l border-b border-wms-300 text-sm hover:bg-wms-400 transition">
                <td class="px-4 py-4">{{ i+1 }}</td>
                <td class="px-4 py-4">{{ worker.firstName }} {{ worker.lastName }}</td>
                <td class="px-4 py-4">{{ worker.email }}</td>
                <td class="px-4 py-4">
                    <span *ngIf="worker.role === 0" class="bg-white rounded-lg px-2 py-1 uppercase text-black text-xs font-semibold">Worker</span>
                    <span *ngIf="worker.role === 1" class="bg-green-400 rounded-lg px-2 py-1 uppercase text-black text-xs font-semibold">Manager</span>
                    <span *ngIf="worker.role === 2" class="bg-red-400 rounded-lg px-2 py-1 uppercase text-black text-xs font-semibold">Owner</span>
                </td>
                <td></td>
                <td class="px-4 py-2 text-right">
                    <form *ngIf="user.role === 'Owner' && user.userId != worker.id" [formGroup]="changeRoleForm">
                        <select formControlName="role" class="pl-2 pr-8 py-1 rounded text-black  text-xs font-semibold uppercase" (change)="changeRole(worker.id, changeRoleForm.value)">
                            <option value="Owner" [selected]="worker.role === 2">Owner</option>
                            <option value="Manager" [selected]="worker.role === 1">Manager</option>
                            <option value="Worker" [selected]="worker.role === 0">Worker</option>
                        </select>
                    </form>
                </td>
            </tr>
            <!-- Candidates -->
            <tr *ngFor="let candidate of candidates; let i = index" class="border-r border-l border-b border-wms-300 text-sm hover:bg-wms-400 transition">
                <td class="px-4 py-4"></td>
                <td class="px-4 py-4">{{ candidate.user.firstName }} {{ candidate.user.lastName }}</td>
                <td class="px-4 py-4">{{ candidate.user.email }}</td>
                <td class="px-4 py-4">
                    <span class="bg-yellow-400 rounded-lg px-2 py-1 uppercase text-black text-xs font-semibold">Candidate</span>
                </td>
                <td></td>
                <td class="p-4 flex items-center space-x-2">
                    <button *ngIf="user.role === 'Owner'" class="bg-green-400 rounded-lg px-2 py-1 uppercase text-black text-xs font-semibold" (click)="acceptCandidate(candidate.id)">Accept</button>
                    <button *ngIf="user.role === 'Owner'" class="bg-red-400 rounded-lg px-2 py-1 uppercase text-black text-xs font-semibold" (click)="declineCandidate(candidate.id)">Decline</button>
                </td>
            </tr>
        </table>
    </div>
</div>