<div class="max-w-screen-lg m-auto">
    <!-- Tables -->
    <div class="flex flex-col space-y-2 mb-8">
        <h1 class="text-2xl font-semibold">Products</h1>
        <p class="text-wms-100">Here you can manage your products.</p>
    </div>
    <div *ngIf="user.role === 'Owner'" class="mb-8">
        <form [formGroup]="addProductForm" (ngSubmit)="addProduct(addProductForm.value)" class="flex space-x-4 items-center">
            <input type="text" placeholder="Product name" formControlName="product_name" class="wms-input-app bg-wms-400">
            <input type="text" placeholder="Product code" formControlName="product_code" class="wms-input-app bg-wms-400" maxlength="4">
            <input type="text" placeholder="Product description" formControlName="product_description" class="wms-input-app bg-wms-400">
            <input class="wms-submit-app" type="submit" value="Add" [disabled]="!addProductForm.valid">
        </form>
    </div>
    <div class="max-w-screen-lg overflow-x-auto">
        <table class="w-full whitespace-nowrap">
            <!-- HEAD -->
            <tr class="text-left text-wms-200 text-xs uppercase">
                <th class="bg-wms-400 px-4 py-2 font-medium border-l border-t border-b border-wms-300">
                    #
                </th>
                <th class="bg-wms-400 px-4 py-2 font-medium border-t border-b border-wms-300">
                    Name
                </th>
                <th class="bg-wms-400 px-4 py-2 font-medium border-t border-b border-wms-300">
                    Code
                </th>
                <th class="bg-wms-400 px-4 py-2 font-medium border-t border-b border-wms-300">
                    Description
                </th>
                <th class="w-full bg-wms-400 px-4 py-2 font-medium border-t border-b border-wms-300"></th>
                <th class="bg-wms-400 px-4 py-2 font-medium border-r border-t border-b border-wms-300 text-right">
                    •••
                </th>
            </tr>
            <!-- Products -->
            <tr *ngFor="let product of products; let i = index" class="border-r border-l border-b border-wms-300 text-sm hover:bg-wms-400 transition">
                <td class="px-4 py-4">{{ product.product_id }}</td>
                <td class="px-4 py-4">{{ product.product_name }}</td>
                <td class="px-4 py-4">{{ product.product_code }}</td>
                <td class="px-4 py-4">{{ product.product_description }}</td>
                <td></td>
                <td></td>
            </tr>
        </table>
    </div>
</div>