<main class="min-h-screen bg-wms-500 relative flex">
    <!-- Menu expanded -->
    <div *ngIf="!menuShrinked" class="hidden md:flex md:flex-col md:justify-between md:h-screen md:p-4 md:border-r md:border-wms-400">
        <div>
            <div class="p-4 flex items-center space-x-4 justify-between">
                <app-logo class="cursor-pointer" [logo]="'big'" [colorIcon]="'#5CFFFF'" [colorText]="'white'" [routerLink]="['/']"></app-logo>
            </div>
            <ul class="mt-8">
                <li class="mb-4 text-xs text-wms-200 font-semibold px-4">Overview</li>
                <li class="px-4 py-3 pr-24 flex items-center space-x-4 text-wms-200 font-medium text-sm rounded-lg cursor-pointer" [routerLink]="['/warehouse']" routerLinkActive="wms-active" [routerLinkActiveOptions]="{exact:true}" (click)="triggerMenuMobile()">
                    <app-icon [icon]="'dashboard'" [colorPrimary]="'white'" [colorSecondary]="'#717173'"></app-icon>
                    <span>Dashboard</span>
                </li>
                <li class="px-4 py-3 pr-24 flex items-center space-x-4 text-wms-200 font-medium text-sm rounded-lg cursor-pointer" [routerLink]="['/warehouse/settings']" routerLinkActive="wms-active" (click)="triggerMenuMobile()">
                    <app-icon [icon]="'settings'" [colorPrimary]="'white'" [colorSecondary]="'#717173'"></app-icon>
                    <span>Settings</span>
                </li>
            </ul>
            <ul class="mt-8">
                <li class="mb-4 text-xs text-wms-200 font-semibold px-4">Warehouse</li>
                <li class="px-4 py-3 pr-24 flex items-center space-x-4 text-wms-200 font-medium text-sm rounded-lg cursor-pointer" [routerLink]="['/warehouse/workers']" routerLinkActive="wms-active" (click)="triggerMenuMobile()">
                    <app-icon [icon]="'workers'" [colorPrimary]="'white'" [colorSecondary]="'#717173'"></app-icon>
                    <span>Workers</span>
                </li>
                <li class="px-4 py-3 pr-24 flex items-center space-x-4 text-wms-200 font-medium text-sm rounded-lg cursor-pointer" [routerLink]="['/warehouse/storage']" routerLinkActive="wms-active" (click)="triggerMenuMobile()">
                    <app-icon [icon]="'storage'" [colorPrimary]="'white'" [colorSecondary]="'#717173'"></app-icon>
                    <span>Storage</span>
                </li>
                <li class="px-4 py-3 pr-24 flex items-center space-x-4 text-wms-200 font-medium text-sm rounded-lg cursor-pointer" [routerLink]="['/warehouse/products']" routerLinkActive="wms-active" (click)="triggerMenuMobile()">
                    <app-icon [icon]="'products'" [colorPrimary]="'white'" [colorSecondary]="'#717173'"></app-icon>
                    <span>Products</span>
                </li>
                <li class="px-4 py-3 pr-24 flex items-center space-x-4 text-wms-200 font-medium text-sm rounded-lg cursor-pointer" [routerLink]="['/warehouse/actions']" routerLinkActive="wms-active" (click)="triggerMenuMobile()">
                    <app-icon [icon]="'actions'" [colorPrimary]="'white'" [colorSecondary]="'#717173'"></app-icon>
                    <span>Actions</span>
                </li>
            </ul>
        </div>
        <div class="px-4 py-3 pr-24 flex items-center space-x-4 text-wms-200 font-medium text-sm rounded-lg cursor-pointer" (click)="logout()">
            <app-icon [icon]="'logout'" [colorPrimary]="'white'" [colorSecondary]="'#717173'"></app-icon>
            <span>Logout</span>
        </div>
    </div>
    <!-- Menu shrinked -->
    <div *ngIf="menuShrinked" class="hidden md:flex md:flex-col md:justify-between md:h-screen md:p-4 md:border-r md:border-wms-400">
        <div>
            <div class="p-4 flex items-center space-x-4 justify-between">
                <app-logo class="cursor-pointer" [logo]="'icon'" [colorIcon]="'#5CFFFF'" [routerLink]="['/']"></app-logo>
            </div>
            <ul class="mt-4">
                <li class="px-4 py-3 flex items-center space-x-4 text-wms-200 font-medium text-sm rounded-lg cursor-pointer" [routerLink]="['/warehouse']" routerLinkActive="wms-active" [routerLinkActiveOptions]="{exact:true}" (click)="triggerMenuMobile()">
                    <app-icon [icon]="'dashboard'" [colorPrimary]="'white'" [colorSecondary]="'#717173'"></app-icon>
                </li>
                <li class="px-4 py-3 flex items-center space-x-4 text-wms-200 font-medium text-sm rounded-lg cursor-pointer" [routerLink]="['/warehouse/settings']" routerLinkActive="wms-active" (click)="triggerMenuMobile()">
                    <app-icon [icon]="'settings'" [colorPrimary]="'white'" [colorSecondary]="'#717173'"></app-icon>
                </li>
            </ul>
            <ul class="mt-4">
                <li class="px-4 py-3 flex items-center space-x-4 text-wms-200 font-medium text-sm rounded-lg cursor-pointer" [routerLink]="['/warehouse/workers']" routerLinkActive="wms-active" (click)="triggerMenuMobile()">
                    <app-icon [icon]="'workers'" [colorPrimary]="'white'" [colorSecondary]="'#717173'"></app-icon>
                </li>
                <li class="px-4 py-3 flex items-center space-x-4 text-wms-200 font-medium text-sm rounded-lg cursor-pointer" [routerLink]="['/warehouse/storage']" routerLinkActive="wms-active" (click)="triggerMenuMobile()">
                    <app-icon [icon]="'storage'" [colorPrimary]="'white'" [colorSecondary]="'#717173'"></app-icon>
                </li>
                <li class="px-4 py-3 flex items-center space-x-4 text-wms-200 font-medium text-sm rounded-lg cursor-pointer" [routerLink]="['/warehouse/products']" routerLinkActive="wms-active" (click)="triggerMenuMobile()">
                    <app-icon [icon]="'products'" [colorPrimary]="'white'" [colorSecondary]="'#717173'"></app-icon>
                </li>
                <li class="px-4 py-3 flex items-center space-x-4 text-wms-200 font-medium text-sm rounded-lg cursor-pointer" [routerLink]="['/warehouse/actions']" routerLinkActive="wms-active" (click)="triggerMenuMobile()">
                    <app-icon [icon]="'actions'" [colorPrimary]="'white'" [colorSecondary]="'#717173'"></app-icon>
                </li>
            </ul>
        </div>
        <div class="px-4 py-3 flex items-center space-x-4 text-wms-200 font-medium text-sm rounded-lg cursor-pointer" (click)="logout()">
            <app-icon [icon]="'logout'" [colorPrimary]="'white'" [colorSecondary]="'#717173'"></app-icon>
        </div>
    </div>
    <!-- Main -->
    <div class="w-full overflow-y-auto max-h-screen">
        <!-- Title -->
        <div class="p-8 flex items-center sticky top-0 bg-wms-500">
            <!-- Burger mobile -->
            <app-icon class="md:hidden cursor-pointer" [icon]="'burger'" [colorPrimary]="'white'" (click)="triggerMenuMobile()"></app-icon>
            <!-- Burger desktop -->
            <app-icon class="hidden md:block cursor-pointer" [icon]="'burger'" [colorPrimary]="'white'" (click)="triggerMenu()"></app-icon>
            <h1 class="text-white text-2xl font-semibold ml-4">{{ title }}</h1>
        </div>
        <!-- Content -->
        <div class="p-8 pt-0 text-white">
            <router-outlet></router-outlet>
        </div>
    </div>
    <!-- Menu mobile -->
    <div *ngIf="menuMobile" class="absolute top-0 left-0 p-4 bg-wms-500 flex flex-col justify-between h-screen border-r border-wms-400 md:hidden">
        <div>
            <div class="p-4 pr-0 flex items-center space-x-4 justify-between">
                <app-logo class="cursor-pointer" [logo]="'big'" [colorIcon]="'#5CFFFF'" [colorText]="'white'" [routerLink]="['/']"></app-logo>
                <app-icon class="cursor-pointer" [icon]="'exit'" [colorPrimary]="'white'" (click)="triggerMenuMobile()"></app-icon>
            </div>
            <ul class="mt-8">
                <li class="mb-4 text-xs text-wms-200 font-semibold px-4">Overview</li>
                <li class="px-4 py-3 pr-24 flex items-center space-x-4 text-wms-200 font-medium text-sm rounded-lg cursor-pointer" [routerLink]="['/warehouse']" routerLinkActive="wms-active" [routerLinkActiveOptions]="{exact:true}" (click)="triggerMenuMobile()">
                    <app-icon [icon]="'dashboard'" [colorPrimary]="'white'" [colorSecondary]="'#717173'"></app-icon>
                    <span>Dashboard</span>
                </li>
                <li class="px-4 py-3 pr-24 flex items-center space-x-4 text-wms-200 font-medium text-sm rounded-lg cursor-pointer" [routerLink]="['/warehouse/settings']" routerLinkActive="wms-active" (click)="triggerMenuMobile()">
                    <app-icon [icon]="'settings'" [colorPrimary]="'white'" [colorSecondary]="'#717173'"></app-icon>
                    <span>Settings</span>
                </li>
            </ul>
            <ul class="mt-8">
                <li class="mb-4 text-xs text-wms-200 font-semibold px-4">Warehouse</li>
                <li class="px-4 py-3 pr-24 flex items-center space-x-4 text-wms-200 font-medium text-sm rounded-lg cursor-pointer" [routerLink]="['/warehouse/workers']" routerLinkActive="wms-active" (click)="triggerMenuMobile()">
                    <app-icon [icon]="'workers'" [colorPrimary]="'white'" [colorSecondary]="'#717173'"></app-icon>
                    <span>Workers</span>
                </li>
                <li class="px-4 py-3 pr-24 flex items-center space-x-4 text-wms-200 font-medium text-sm rounded-lg cursor-pointer" [routerLink]="['/warehouse/storage']" routerLinkActive="wms-active" (click)="triggerMenuMobile()">
                    <app-icon [icon]="'storage'" [colorPrimary]="'white'" [colorSecondary]="'#717173'"></app-icon>
                    <span>Storage</span>
                </li>
                <li class="px-4 py-3 pr-24 flex items-center space-x-4 text-wms-200 font-medium text-sm rounded-lg cursor-pointer" [routerLink]="['/warehouse/products']" routerLinkActive="wms-active" (click)="triggerMenuMobile()">
                    <app-icon [icon]="'products'" [colorPrimary]="'white'" [colorSecondary]="'#717173'"></app-icon>
                    <span>Products</span>
                </li>
                <li class="px-4 py-3 pr-24 flex items-center space-x-4 text-wms-200 font-medium text-sm rounded-lg cursor-pointer" [routerLink]="['/warehouse/actions']" routerLinkActive="wms-active" (click)="triggerMenuMobile()">
                    <app-icon [icon]="'actions'" [colorPrimary]="'white'" [colorSecondary]="'#717173'"></app-icon>
                    <span>Actions</span>
                </li>
            </ul>
        </div>
        <div class="px-4 py-3 pr-24 flex items-center space-x-4 text-wms-200 font-medium text-sm rounded-lg cursor-pointer" (click)="logout()">
            <app-icon [icon]="'logout'" [colorPrimary]="'white'" [colorSecondary]="'#717173'"></app-icon>
            <span>Logout</span>
        </div>
    </div>
</main>