<main class="min-h-screen p-4 flex justify-center items-center">
    <div class="p-4 flex flex-col items-center w-full max-w-sm sm:border sm:border-gray-200 sm:p-12 sm:rounded-lg sm:shadow-xl">
        <app-logo [logo]="'big'" [colorIcon]="'rgb(3, 102, 214)'" [colorText]="'rgb(24, 24, 26)'" [routerLink]="['/']"></app-logo>
        <h1 class="my-8 text-xl font-semibold">Login to your account</h1>
        <form class="flex flex-col items-center space-y-4 w-full" [formGroup]="loginForm" (ngSubmit)="login(loginForm.value)">
            <input type="email" class="wms-input" placeholder="Email" formControlName="email">
            <input type="password" class="wms-input" placeholder="Password" formControlName="password">
            <input type="submit" class="wms-submit w-full" value="Login" [disabled]="!loginForm.valid">
            <a href="" class="text-sm text-blue-600 font-medium">• Forgot password?</a>
        </form>
    </div>
</main>