<main>
    <div class="card">
        <div class="card__img">
            <app-logo [logo]="'big'" [colorIcon]="'rgb(3, 102, 214)'" [colorText]="'rgb(24, 24, 26)'" [routerLink]="['/']"></app-logo>
        </div>
        <div class="card__title">
            Login to your account
        </div>
        <div class="card__content">
            <form class="form" [formGroup]="loginForm" (ngSubmit)="login(loginForm.value)">
                <div class="form__content">
                    <input type="email" placeholder="Email" formControlName="email">
                    <input type="password" placeholder="Password" formControlName="password">
                    <a href="#" class="font-size-small font-weight-bold font-color-blue">• Forgot password?</a>
                </div>
                <input class="button" type="submit" value="Login" [disabled]="!loginForm.valid">
            </form>
        </div>
    </div>
</main>