<main>
    <div class="card">
        <div class="card__img">
            <app-logo [logo]="'big'" [colorIcon]="'rgb(3, 102, 214)'" [colorText]="'rgb(24, 24, 26)'" [routerLink]="['/']"></app-logo>
        </div>
        <div class="card__title">
            Create new account
        </div>
        <div class="card__content">
            <form class="form" [formGroup]="registerForm" (ngSubmit)="register(registerForm.value)">
                <div class="form__content">
                    <div class="input-grid">
                        <input type="text" placeholder="First Name" formControlName="FirstName">
                        <input type="text" placeholder="Last Name" formControlName="LastName">
                    </div>
                    <input type="email" placeholder="Email" formControlName="Username">
                    <input type="password" placeholder="Password" formControlName="Password">
                    <input type="password" placeholder="Confirm password" formControlName="PasswordConfirmation">
                    <div class="input-flex">
                        <input type="checkbox" id="agrement" name="agrement" formControlName="Agreement">
                        <label for="agrement" class="font-size-small">I agree to the <span class="font-color-blue">Privacy Policy</span> and <span class="font-color-blue">Terms of Use</span>.</label>
                    </div>
                </div>
                <input class="button" type="submit" value="Register" [disabled]="!registerForm.valid">
            </form>
        </div>
    </div>
</main>