@use '../../assets/styles/' as *;
main {
    min-height: $height-100;
    @include flex(row, center, center);
    .form {
        max-width: 370px;
    }
}

@media (max-width: $width-small) {
    .card {
        border: none;
        padding: 0;
    }
}