<!-- NAV -->
<div class="w-full bg-gray-50">
    <div class="max-w-screen-lg m-auto">
        <div class="w-full p-4 flex justify-between items-center">
            <div [routerLink]="['/']" class="cursor-pointer">
                <app-svg [src]="'logo'" [primary]="'#0266d6'" [secondary]="'black'"></app-svg>
            </div>
            <div class="flex items-center space-x-6">
                <button [routerLink]="['/login']" class="font-medium text-gray-700 rounded px-4 py-2 hover:text-black">Login</button>
                <button [routerLink]="['/register']" class="font-medium text-wms-blue border border-gray-300 rounded px-4 py-2 transition hover:bg-wms-blue hover:text-white">Register</button>
            </div>
        </div>
    </div>
</div>
<!-- HERO -->
<div class="hero w-full bg-gray-50 border-b border-gray-200">
    <div class="max-w-screen-lg m-auto">
        <div class="max-w-md m-auto px-4 py-16 flex flex-col items-center space-y-8">
            <div class="bg-white rounded-2xl p-4 inline-flex border border-grey-200 shadow-md cursor-pointer transition hover:shadow-lg transform hover:-translate-y-1 ">
                <app-svg [src]="'logo-icon'" [size]="40" [primary]="'#0266d6'"></app-svg>
            </div>
            <div class="flex flex-col items-center space-y-4">
                <h1 class="text-3xl font-semibold text-center"><span class="text-4xl font-bold">Warehouse</span><br>Managment System</h1>
                <p class="text-center text-lg">Take control of your warehouse. We provide tools to make your business easier to manage.</p>
            </div>
        </div>
    </div>
</div>
<!-- FEATURES -->
<div class="max-w-screen-lg m-auto">
    <div class="flex flex-col">
        
    </div>
</div>