<main class="w-full min-h-screen bg-wms-500">
    <nav class="p-4 flex justify-between items-center w-full">
        <div class="hidden lg:block w-20"></div>
        <app-logo [logo]="'big'" [colorIcon]="'white'" [colorText]="'white'" [routerLink]="['/warehouse']"></app-logo>
        <button class="font-semibold uppercase text-sm text-wms-200 flex space-x-1 items-center" (click)="logout()">
            <span>Logout</span>
            <app-icon [icon]="'x'" [colorPrimary]="'#7f7f82'"></app-icon>
        </button>
    </nav>
    <div class="w-full p-4 flex flex-col items-center justify-center space-y-8 wms-shadow lg:flex-row lg:space-y-0 lg:space-x-8">
        <div class="p-8 rounded-xl bg-wms-400 border border-wms-300 flex-shrink-0 max-w-sm w-full">
            <!-- <div class="hidden lg:block w-full h-80 mb-4"></div> -->
            <h1 class="text-2xl text-white font-semibold">Create your Warehouse</h1>
            <p class="text-wms-100 mt-4 mb-6">Follow this step by step tutorial to create your own Warehouse!</p>
            <form class="flex space-x-4" [formGroup]="createWarehouseForm" (ngSubmit)="createWarehouse(createWarehouseForm.value)">
                <input type="text" class="wms-input-app" placeholder="Warehouse name" formControlName="name">
                <input class="wms-submit-app" type="submit" value="Create" [disabled]="!createWarehouseForm.valid">
            </form>
        </div>
        <div class="p-8 rounded-xl bg-wms-400 border border-wms-300 flex-shrink-0 max-w-sm">
            <!-- <div class="hidden lg:block w-full h-80 mb-4"></div> -->
            <h1 class="text-2xl text-white font-semibold">Join the Warehouse</h1>
            <p class="text-wms-100 mt-4 mb-6">Paste the ID of a Warehouse you want to join. Ask the owner for the code.</p>
            <form action="" class="flex space-x-4">
                <input type="text" class="wms-input-app" placeholder="Paste the ID here">
                <input type="submit" class="wms-submit-app" value="Join" disabled>
            </form>
        </div>
    </div>
</main>