@use 'colors' as *;
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
// Layout
$spacing: 16px;
$width-big: 1024px;
$width-small: 425px;
$height-100: calc(100vh - 31px);
// Fonts
$font-family: 'Inter', sans-serif;
$font-size: 16px;
// Styling
$border: 1px solid $color-light;