<main>
  <!-- Navigation -->
  <section class="nav">
    <nav>
      <app-logo [logo]="'big'" [colorIcon]="'rgb(3, 102, 214)'" [colorText]="'rgb(24, 24, 26)'" [routerLink]="['/']"></app-logo>
      <!-- <app-logo [logo]="'small'" [colorIcon]="'rgb(3, 102, 214)'" [colorText]="'rgb(24, 24, 26)'" [routerLink]="['/']"></app-logo> -->
      <ul *ngIf="!auth.authCheck()">
          <li class="font-color-blue font-weight-bold" [routerLink]="['/login']">Login</li>
          <li class="button" [routerLink]="['/register']">Register</li>
      </ul>
      <ul *ngIf="auth.authCheck()">
          <li class="button fill" [routerLink]="['/app']">App</li>
          <li class="button" (click)="auth.logout()">Logout</li>
      </ul>
    </nav>
  </section>
  <!-- Hero -->
  <section class="hero">
    <div class="hero__group">
      <div class="dot"></div>
      <h1>Take control of your <span class="font-color-blue">warehouse</span>.</h1>
      <p>We provide you tools to make your business easier to manage.</p>
      <button class="button fill font-size-normal" [routerLink]="['/register']">Join for free!</button>
    </div>
  </section>
  <!-- Functions -->
  <section class="functions">
    <div>
      <div class="placeholder"></div>
      <h3>Workers</h3>
      <p>Invite people to your warehouse and work together! Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt beatae distinctio ea perspiciatis doloremque ex consequatur dolor facilis?</p>
    </div>
    <div>
      <div class="placeholder"></div>
      <h3>Storage</h3>
      <p>Manage your products in a simple and intuitive way. Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt beatae distinctio ea perspiciatis doloremque ex consequatur dolor facilis?</p>
    </div>
    <div>
      <div class="placeholder"></div>
      <h3>Actions</h3>
      <p>Manage your products in a simple and intuitive way. Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt beatae distinctio ea perspiciatis doloremque ex consequatur dolor facilis?</p>
    </div>
  </section>
  <!-- Footer -->
  <section class="footer">
    ...
  </section>
</main>